---
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
	firstName: "Caleb",
	country: "United States",
	occupation: "Builder",
	hobbies: ["sports", "cooking", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "hsla(153, 99.9%, 21%, 0.906)";
const fontWeight = "bold";
const textCase = "Capitalize";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{ skillColor, fontWeight, textCase }}>
			/* body {
				font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif, "Segoe UI", Roboto,
					Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
				/* color: hsla(15, 99.4%, 11%, 0.934); */
			background-color: hsla(24, 95.8%, 46.5%, 0.044);

			#menu {
				display: flex;
				justify-content: space-evenly;
				background-color: hsl(24, 70%, 99%);
				padding: 0.5rem;
			}

			h1 {
				color: hsla(60, 98%, 0.7%, 0.906);
				font-size: 4rem;
			}

			p {
				font-size: 1.125rem;
			}

			a:not(#menu a) {
				color: hsl(226, 55%, 45%);
			}

			a:not(#menu a):hover {
				color: hsl(226, 62%, 17%);
			}

			.skill {
				/* color: hsla(153, 99.9%, 21%, 0.906); */
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
				/* width: max-content; */
			}
		</style>
	</head>
	<body>
		<nav id="menu">
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
		</nav>
		<h1>{pageTitle}</h1>
		<p>
			This is my about page. I just starting learning web development. And, this is my first site
			built with Astro.
		</p>
		<p>
			I'm focusing my learning through these courses:
			<ul>
				<li><a href="https://learnjavascript.online">Learn JavaScript</a></li>
				<li><a href="https://css-for-js.dev">CSS-for-JS</a></li>
				<li><a href="https://www.joyofreact.com">The Joy of React</a></li>
			</ul>
		</p>
		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in the {identity.country} and I work as a {identity.occupation}.</li>
			{
				identity.hobbies.length >= 2 && (
					<li>
						Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.
					</li>
				)
			}
		</ul>
		<section class="skills">
			<h2>Skills</h2>
			<p>My skills are:</p>
			<ul>
				{skills.map(skill => <li class="skill">{skill}</li>)}
			</ul>
		</section>
		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
